{% load static %}
<html lang="en">
    <head>
        <title>Django Blog</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="main">
            <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Django Blog</a></h1>
                <a href="{% url 'post_new' %}">Add New Post</a>
            </div>
            <div class="nav-right">
                {% if user.is_authenticated %}
                    <p>Hi {{ user.username }}!</p>
                    <a href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <p>You are not logged in.</p>
                    <a href="{% url 'login' %}">Log In</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </div>
            </header>
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>